[access]
	inheritFrom = All-Projects
[project]
	description = basic csharp template
[access "refs/*"]
	owner = group user/nay493
[access "refs/for/refs/*"]
	read = group user/nay493
	push = group user/nay493
	label-Code-Review = -2..+2 group user/nay493
	label-Verified = -1..+1 group user/nay493
	rebase = group user/nay493
	removeReviewer = group user/nay493
	submit = group user/nay493
[access "refs/heads/*"]
	read = group user/nay493
	create = group user/nay493
	push = +force group user/nay493
	pushMerge = group user/nay493
[access "refs/tags/*"]
	push = group user/nay493
	push = +force group user/nay493
